<div class="nav-bar2">
   <%= link_to "Home-one", root_path %>
   <%= link_to "Home-two", home1_path %>
   <%= link_to "Home-three", home3_path %>
   <%= link_to "Home-four", home4_path %>
   <%= link_to "Home-five", root_path %>
</div>
