<div class="nav-bar-last-page">
  <div>
   <%= link_to "Home-one", root_path %>
   <%= link_to "Home-two", home2_path %>
   <%= link_to "Home-three", home3_path %>
   <%= link_to "Home-four", home4_path %>
   <%= link_to "Home-five", home5_path %>
   <div class="icons-101">
     <a href="#"  style="color: #cf7500"><i class="fab fa-facebook face-2" style="color: #cf7500"></i> Facebook</a>
     <a href="#"  style="color: #cf7500"><i class="fab fa-instagram face-2"  style="color: #cf7500"></i> Instagram</a>
   </div>
  </div>
</div>
