<div class="navbar-6">
  <div>
    <%= image_tag "logo9.png", class: 'logo9' %>
  </div>
  <div class="dropdown button-home-page-4">
    <button class="btn dropdown-toggle dropdown-toggle1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Home-Page Examples
    </button>
    <div class="dropdown-menu dropdown-menu1" aria-labelledby="dropdownMenuButton">
      <%= link_to "Home-one", root_path, class: "dropdown-item" %>
       <%= link_to "Home-two", home1_path, class: "dropdown-item" %>
       <%= link_to "Home-three", home3_path, class: "dropdown-item" %>
       <%= link_to "Home-four", home4_path, class: "dropdown-item" %>
       <%= link_to "Home-five", home5_path, class: "dropdown-item" %>
    </div>

  </div>
  <div class="dropdown button-home-page-4">
    <button class="btn dropdown-toggle dropdown-toggle1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Social Media
    </button>
    <div class="dropdown-menu dropdown-menu1" aria-labelledby="dropdownMenuButton">
      <a href="#"><i class="fab fa-facebook face-2 face-3"></i> Facebook</a>
      <br>
      <a href="#"><i class="fab fa-instagram face-2 face-3"></i> Instagram</a>
    </div>

  </div>
</div>


