
<div class="nav-bar">
   <%= link_to "Home-one", root_path %>
   <%= link_to "Home-two", root_path %>
   <%= link_to "Home-three", root_path %>
   <%= link_to "Home-four", root_path %>
   <%= link_to "Home-five", root_path %>
</div>
