

  <div class="nav-bar23">

      <%= image_tag "logo9.png", class: 'logo23' %>
       <%= link_to "HOME-ONE", root_path %>
       <%= link_to "HOME-TWO", home2_path %>
       <%= link_to "HOME-THREE", home3_path %>
       <%= link_to "HOME-FOUR", home4_path %>
       <%= link_to "HOME-FIVE", home5_path %>
       <div class="icons">
         <a href="#"><i class="fab fa-facebook face-2"></i> Facebook</a>
         <a href="#"><i class="fab fa-instagram face-2"></i> Instagram</a>
       </div>


  </div>




