
<%= render "navbar" %>

<div class="banner-page">
  <div class="since">
    <h3>Since 1989</h3>
    <h3>Bringing English to life</h3>
  </div>
  <div class="title-home1">
    <%= image_tag "logo-one.png", class: 'logo-one' %>
  </div>
    <%= link_to "Book Now", root_path, class: 'link-home1'%>
  <div class="container info-home-page1">
    <div class="row">
      <div class="col-lg-6">
        <h1>Now Touring</h1>
        <br>
        <ol>
          <li>Treasure Island</li>
          <li>Hamlet - William Shakespeare</li>
          <li>One man show of Romeo & Juliet played by Eddie</li>
        </ol>
        <p style="text-align: center;">All shows are Specially designed for all learners of English.
           We perform classics of English literature, from Shakespeare and beyond!</p>
           <%= link_to "Book Now", root_path, class: 'link-home2'%>
      </div>
      <div class="col-lg-6">
        <h1>Company info</h1>
        <br>
        <p style="text-align: center;">The Play Group has performed dynamic and entertaining English-language drama to schools and theatres all over Europe.</p>
        <br>
        <p style="text-align: center;">Play Group productions are designed from scratch to suit all levels of English, from elementary schools to secondary schools and universities.</p>
        <%= link_to "About", root_path, class: 'link-home2'%>
      </div>
    </div>
  </div>
</div>
