

<div class="home-page-background-new">
  <%= render "navbar2" %>
  <div class="title-home-2">
    <h1>"The Play Group Theatre Company Presents"</h1>
    <h2>Dracula</h2>
    <p>A Classic Story by Bram Stoker</p>
    <br>
    <%= link_to "Contact", home2_path %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="info-content-since">
    <h2>"Teaching English Through Theatre"</h2>
    <h2>"Since 1989"</h2>
  </div>
</div>


<div class="cards">
 <%= link_to home2_path, class: 'link101' do  %>
  <div class="card-category">
    Shows Avaliable
  </div>
  <% end %>

<%= link_to home2_path, class: 'link101' do %>
  <div class="card-category2">
    Gallery
  </div>
  <% end %>
<%= link_to home2_path, class: 'link101' do %>
  <div class="card-category3">
    About Us
  </div>
  <% end %>
</div>
